package ${package}.controller;

import io.swagger.annotations.*;
import lombok.extern.slf4j.Slf4j;
import com.baomidou.mybatisplus.core.metadata.IPage;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
import javax.annotation.Resource;
import com.bcmp.operate.common.core.controller.BaseController;
import com.bcmp.operate.common.datatables.DataTable;
import com.bcmp.operate.common.datatables.ResultData;
import com.bcmp.operate.common.dto.ResultInfo;
import com.bcmp.operate.common.dto.ResultInfoUtil;
import ${package}.api.vo.req.${className}ListReq;
import ${package}.api.vo.req.${className}InsertReq;
import ${package}.api.vo.req.${className}UpdateReq;
import ${package}.api.vo.res.${className}DetailRes;
import ${package}.api.vo.res.${className}ListRes;
import ${package}.convert.${className}Converter;
import ${package}.service.${className}Service;

/**
 * <p>
 * $!{comments} 前端控制器
 * </p>
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@RestController
@RequestMapping("/v1/${secondModuleName}")
@Slf4j
@Api(value = "${className}Controller", tags = {"${comments}操作接口"})
public class ${className}Controller extends BaseController {

    /**
     * 转换器
     */
    ${className}Converter converter = ${className}Converter.CONVERTER;

    /**
     *  $!{comments}服务接口
     */
    @Resource
    private ${className}Service ${secondModuleName}Service;

    /**
     * 查询列表
     *
     * @param param 参数
     * @return {@link ResultInfo}<{@link ResultData}<{@link ${className}ListRes}>>
     */
    @ApiOperation(value = "查询列表", notes = "查询列表", httpMethod = "POST")
    @PostMapping(value = "/queryList")
    @ResponseBody
    public ResultInfo<ResultData<${className}ListRes>> queryList(@RequestBody @Validated DataTable<${className}ListReq> param) {
        startPage(param.getPage());
        return ResultInfoUtil.success(param.getReturnData(${secondModuleName}Service.queryList(param.getParam())));
    }

    /**
     * 根据ID获取详情
     *
     * @param id id
     * @return {@link ResultInfo<${className}DetailRes>}
     */
    @ApiOperation(value = "根据ID获取详情", notes = "根据ID获取详情", httpMethod = "GET")
    @RequestMapping(value = "/{id}", method = RequestMethod.GET)
    public ResultInfo<${className}DetailRes> getDetailById(@PathVariable("id") $pk.attrType id) {
        return ResultInfoUtil.success(converter.to${className}DetailRes(${secondModuleName}Service.getById(id)));
    }

    /**
     * 新增
     *
     * @param param 新增参数
     * @return {@link ResultInfo}<{@link Boolean}>
     */
    @ApiOperation(value = "新增", notes = "新增", httpMethod = "POST")
    @PostMapping("/save")
    @ResponseBody
    public ResultInfo<Boolean> save(@RequestBody @Validated ${className}InsertReq param) {
        return ResultInfoUtil.success(${secondModuleName}Service.save(param));
    }

    /**
     * 新增
     *
     * @param param 修改参数
     * @return {@link ResultInfo}<{@link Boolean}>
     */
    @ApiOperation(value = "修改", notes = "修改", httpMethod = "POST")
    @PostMapping("/update")
    @ResponseBody
    public ResultInfo<Boolean> update(@RequestBody @Validated ${className}UpdateReq param) {
        return ResultInfoUtil.success(${secondModuleName}Service.update(param));
    }

    /**
     * 根据id删除
     *
     * @param id Id
     * @return {@link ResultInfo}<{@link Boolean}>
     */
    @ApiOperation(value = "根据id删除", notes = "根据id删除", httpMethod = "GET")
    @RequestMapping(value = "delete/{id}", method = RequestMethod.GET)
    public ResultInfo<Boolean> deleteById(@PathVariable("id") $pk.attrType id) {
        return ResultInfoUtil.success(${secondModuleName}Service.removeById(id));
    }

    /**
     * 根据id批量删除
     *
     * @param idList Id列表
     * @return {@link ResultInfo}<{@link Boolean}>
     */
    @ApiOperation(value = "批量删除", notes = "批量删除", httpMethod = "GET")
    @RequestMapping(value = "delete", method = RequestMethod.GET)
    public ResultInfo<Boolean> deleteByIds(List<$pk.attrType> idList) {
        return ResultInfoUtil.success(${secondModuleName}Service.removeByIds(idList));
    }

}
