package ${package}.convert;

import ${package}.bean.${className};
import ${package}.api.vo.req.Get${className}ListReq;
import ${package}.api.vo.req.${className}CreateReq;
import ${package}.api.vo.req.${className}UpdateReq;
import ${package}.api.vo.res.${className}DetailRes;
import ${package}.api.vo.res.Get${className}ListRes;
import org.mapstruct.*;
import org.mapstruct.factory.Mappers;

import java.util.List;
/**
 *
 * ${comments}转换器
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Converter {

    /**
    * 转换器
    */
    ${className}Converter CONVERTER = Mappers.getMapper(${className}Converter.class);

    /**
    * 新增参数转换${className}
    *
    * @param param
    * @return {@link ${className}}
    */
    ${className} insertReqTo${className}(${className}CreateReq param);

    /**
    * 修改参数转换${className}
    *
    * @param param
    * @return {@link ${className}}
    */
    @Mappings({
            @Mapping(target = "uniqueId", source = "uniqueId")
    })
    ${className} updateReqTo${className}(${className}UpdateReq param);

    /**
    * ${className}转换${className}详情
    *
    * @param ${secondModuleName} ${comments}
    * @return {@link ${className}DetailRes}
    */
    @Mappings({
            @Mapping(target = "uniqueId", source = "uniqueId")
    })
    ${className}DetailRes to${className}DetailRes(${className} ${secondModuleName});

}