package ${package}.api.vo.res;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import java.io.Serializable;
import java.util.Date;
import lombok.Data;

/**
 * ${comments}列表对象
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@ApiModel(value="${className}ListRes",description="${comments}列表对象")
public class ${className}ListRes implements Serializable {

    /**
     * 版本号
     */
	private static final long serialVersionUID=1L;

#foreach ($column in $columns)
#if($column.attrname != "modifier" && $column.attrname != "updateDate" && $column.attrname != "delFlag")
    /**
     * $column.comments
     */
    @ApiModelProperty(value="$column.comments",name="$column.attrname")
    private $column.attrType $column.attrname;
#end
#end
##
##	#foreach ($column in $columns)
##	/**
##	 * 设置：${column.comments}
##	 */
##	public void set${column.attrName}($column.attrType $column.attrname) {
##			this.$column.attrname = $column.attrname;
##			}
##	/**
##	 * 获取：${column.comments}
##	 */
##	public $column.attrType get${column.attrName}() {
##			return $column.attrname;
##			}
##	#end

##	@Override
##	public String toString() {
##	    return "${className}Vo{"+
###foreach ($column in $columns)
##	"${column.attrName}="+$column.attrname+
###end
##		"}";}
}