package ${package}.service;

import ${package}.bean.${className};
import ${package}.api.vo.req.Get${className}ListReq;
import ${package}.api.vo.req.${className}CreateReq;
import ${package}.api.vo.req.${className}UpdateReq;
import ${package}.api.vo.res.${className}DetailRes;
import ${package}.api.vo.res.Get${className}ListRes;
import com.baomidou.mybatisplus.extension.service.IService;
import java.util.List;

/**
 * <p>
 * $!{comments} 服务接口
 * </p>
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {

    /**
     * 查询列表
     *
     * @param param 参数
     * @return {@link List}<{@link Get${className}ListRes}>
     */
    List<Get${className}ListRes> queryList(Get${className}ListReq param);

    /**
     * 新增
     *
     * @param param 新增参数
     * @return {@link Boolean}
     */
     Boolean save(${className}CreateReq param);

    /**
     * 新增
     *
     * @param param 修改参数
     * @return {@link Boolean}
     */
    Boolean update(${className}UpdateReq param);

}
